# ==============================================================================
# REACT NATIVE APP (FlashBasket) .gitignore
# ==============================================================================

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native & Metro
.expo/
__generated__/
.metro/
metro.config.js.meta
*.jsbundle
.react-native/

# iOS
ios/build/
ios/Pods/
ios/.symlinks/
ios/DerivedData/
*.hmap
*.xcworkspace
!default.xcworkspace
*.manifest
*.ipa
*.development.js
*.bmap
*.dSYM
*.created_by
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
Profile/
*.xcuserstate
project.xcworkspace/
*.xccheckout
*.moved-aside
*.swp
*.watchman-cookie

# Android
android/build/
android/.gradle/
android/app/build/
android/local.properties
*.iml
*.hprof
.cxx/
*.apk
*.aab
*.keystore
!debug.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# CocoaPods
/vendor/bundle/

# Environment variables & Secrets
.env
.env.*
!.env.example
awsexports.js
google-services.json
GoogleService-Info.plist

# Temp and OS files
.DS_Store
.tmp/
tmp/
.vscode/
.idea/
